/* Header */
.header {
    padding: 60px 0;
    background-color: transparent;
}

.header .d-flex {
    align-items: center;

}

.header .container {
    padding-bottom: 56px;
    border-bottom: 2px solid #ffffff;
}


.header .logo {
    width: 220px;
}

.header .nav li {
    /* width: 169px; */
    width: fit-content;
    margin-right: 32px;
    text-align: center;



}

.header .nav li:last-child {
    margin-right: 0;

}

.header .nav a {
    color: #ffffff84;
    font-weight: 700;

}

.header .nav a:hover {
    transition: 1.2s;
    color: #ffffff;
}

.header .nav .active {
    color: #ffffff;

}

.header {
    position: fixed;
    padding-bottom: 50px;
    z-index: 5;
    width: 100%;
    top: 0;
    left: 0;

}

.header .menu-icon {
    display: none;
}

.header.is_active {
    background-color: #FFFFFF;
    padding-bottom: 0px;
    box-shadow: 0px 6px 11px -1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 6px 11px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 6px 11px -1px rgba(0, 0, 0, 0.75);
}

.header.is_active .nav a {
    color: #0000005f;
    font-weight: 700;
}

.header.is_active .nav a:hover {
    color: #000000;
    font-weight: 700;
}

.header.is_active .nav a.active {
    color: #000000;
    font-weight: 700;
}

.header.is_active .d-block {
    display: none;
}

.header.is_active .d-none {
    display: block;
}

.footer {
    background-color: #1E1E1E;
    padding: 44px 0;
    color: #FFFFFF;
}

.footer .footer-logo {
    width: 18%;
}

.footer .footer-nav-blk {
    width: 28%;

}

.footer .footer-list ul li a {
    color: #FFFFFF;
    font-size: 16px;

}

.footer .footer-form {
    width: 30%;

}

.footer .footer-form form p {
    position: relative;


}

.footer .footer-form input {
    width: 85%;
    padding: 10px;
    border: 0;
    margin-bottom: 20px;
}

.footer .footer-form form p::after {
    position: absolute;
    top: 35%;
    right: 65px;
    width: 20px;
    height: 20px;
    background: url("../img/input-icon.png") no-repeat center/contain;
    content: "";
    transform: translateY(-50%);
}

.footer .footer-form p {
    font-size: 13px;
    font-weight: 100;
}

::placeholder {
    color: #1E1E1E;
    font-size: 16px;
    font-weight: 400;
    font-family: "Gayathri";
}

.footer .footer-icon {
    width: 13%;
}

/* tbl */
@media screen and (min-width:768px) and (max-width:1200px) {

    /* Header */
    .header {
        padding: 4.813vw 0;
        background-color: transparent;
    }

    .header .d-flex {
        align-items: center;

    }

    .header .container {
        padding-bottom: 4.51vw;
        border-bottom: 0.26vw solid #ffffff;
    }

    .header .logo {
        width: 28.646vw;
    }

    .header .nav li {
        width: fit-content;
        margin-right: 1.906vw;
        text-align: center;
    }

    .header .nav li:last-child {
        margin-right: 0;

    }

    .header .nav a {
        color: #ffffff84;
    }

    .header .nav a:hover {
        transition: 1.2s;
        color: #ffffff;
    }

    .header .nav .active {
        color: #ffffff;

    }

    .header {
        position: fixed;
        padding-bottom: 6.51vw;
        width: 100%;
        top: 0;
        left: 0;

    }


    .footer .footer-logo {
        width: 50%;
        margin-bottom: 6.25vw;
    }

    .footer .footer-nav-blk {
        width: 50%;
        margin-bottom: 6.25vw;
    }

    .footer .footer-form {
        width: 60%;
    }

    .footer .footer-form input {
        width: 75%;
    }

    .footer .footer-form form p::after {
        position: absolute;
        top: 35%;
        right: 16.156vw;
        width: 3.125vw;
        height: 3.125vw;
        background: url("../img/input-icon.png") no-repeat center/contain;
        content: "";
        transform: translateY(-50%);
    }

    .footer .footer-form p {
        font-size: 2.031vw;
        font-weight: 100;
    }

    ::placeholder {
        color: #1E1E1E;
        font-size: 2.5vw;
        font-weight: 400;
        font-family: "Gayathri";
    }

    .footer .footer-icon {
        width: 40%;
    }

    .footer .footer-icon .icon div {
        margin-left: 2.344vw;
    }

    .footer .footer-icon .icon.d-flex {
        justify-content: end;
    }

}


/* sp */
@media screen and (max-width:767.9px) {

    /* Header */
    .header {
        padding: 3.375vw 0;
        background-color: transparent;
    }

    .container {
        width: 90%;
        max-width: 186.25vw;
    }

    .header .d-flex {
        align-items: center;

    }

    .header .container {
        padding-bottom: 4.875vw;
        border-bottom: 0.313vw solid #ffffff;
        width: 90%;
    }

    .header .logo {
        width: 50vw;
    }

    /* .header .nav {
        display: none;
    }


    .header .nav a {
        color: #000000;
    } */

    .header {
        position: fixed;
        padding-bottom: 4.813vw;
        width: 100%;
        top: 0;
        left: 0;
    }

    .header .menu-icon {
        display: block;
    }

    .header .nav {
        position: absolute;
        top: -80vw;
        left: 0vw;
        width: 100%;
        padding: 10.206vw 0 3.41vw;
        background-color: #131313f8;
        transition: all 0.5s ease;
    }

    .header.is_active .nav a {
        color: #ffffff84;
    }

    .header.is_active .nav a.active {
        color: #FFFFFF;
    }

    .header .nav.show {
        top: 0;
    }

    .header .nav li {
        width: 100%;
        padding: 4vw 0;
        margin-right: 0;
        margin-bottom: 5.008vw;
    }

    .header .menu-icon {
        width: 7.813vw;
        height: 7.813vw;
        background-color: transparent;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: -2.031vw;
    }



    .header .menu-icon span {
        width: 3.125vw;
        height: 0.453vw;
        background-color: #FFFFFF;
        position: absolute;
        border-radius: 3.906vw;
        transition: 0.5s;

    }

    .header.is_active .menu-icon span {
        background-color: #000000
    }

    .header .menu-icon span:nth-child(1) {
        transform: translateY(-1.563vw);
        width: 3.906vw;
        right: 2.344vw;
    }

    .header .menu-icon span:nth-child(2) {
        transform: translateY(1.563vw);
        width: 3.906vw;
        right: 2.344vw;
    }

    .header .menu-icon.active span:nth-child(3) {
        transform: translateX(9.375vw);
        opacity: 0;


    }

    .header .menu-icon.active span:nth-child(1) {
        transform: translateY(0) rotate(45deg);
        width: 4.688vw;
        transition: 0.45s;

    }

    .header .menu-icon.active span:nth-child(2) {
        transform: translateY(0) rotate(-45deg);
        width: 4.688vw;
        transition: 0.75s;

    }

    .footer .footer-logo {
        width: 30%;
        margin-bottom: 6.25vw;
    }

    .footer .footer-nav-blk {
        width: 60%;
        margin-bottom: 6.25vw;
    }

    .footer .footer-list ul li a {
        color: #FFFFFF;
        font-size: 2.5vw;

    }

    .footer .footer-form {
        width: 60%;
    }

    .footer .footer-form form p::after {
        position: absolute;
        top: 35%;
        right: 60.156vw;
        width: 3.125vw;
        height: 3.125vw;
        background: url("../img/input-icon.png") no-repeat center/contain;
        content: "";
        transform: translateY(-50%);
    }

    .footer .footer-form p {
        font-size: 2.031vw;
        font-weight: 100;
    }

    ::placeholder {
        color: #1E1E1E;
        font-size: 2.5vw;
        font-weight: 400;
        font-family: "Gayathri";
    }

    .footer .footer-icon {
        width: 40%;
    }

    .footer .footer-icon .icon div {
        margin-left: 1.044vw;
    }

    .footer .footer-icon .icon.d-flex {
        justify-content: end;
    }

}