/* Header */
.header {
    padding: 60px 0;
    background-color: transparent;
}

.header .d-flex {
    align-items: center;

}

.header .container {
    padding-bottom: 56px;
    border-bottom: 2px solid #ffffff;
}


.header .logo {
    width: 220px;
}

.header .nav li {
    /* width: 169px; */
    width: fit-content;
    margin-right: 32px;
    text-align: center;



}

.header .nav li:last-child {
    margin-right: 0;

}

.header .nav a {
    color: #ffffff84;
    font-weight: 700;

}

.header .nav a:hover {
    transition: 1.2s;
    color: #ffffff;
}

.header .nav .active {
    color: #ffffff;

}

.header {
    position: fixed;
    padding-bottom: 50px;
    z-index: 5;
    width: 100%;
    top: 0;
    left: 0;

}

.header .menu-icon {
    display: none;
}



/* tbl */
@media screen and (min-width:768px) and (max-width:1200px) {

    /* Header */
    .header {
        padding: 4.813vw 0;
        background-color: transparent;
    }

    .header .d-flex {
        align-items: center;

    }

    .header .container {
        padding-bottom: 4.51vw;
        border-bottom: 0.26vw solid #ffffff;
    }

    .header .logo {
        width: 28.646vw;
    }

    .header .nav li {
        width: fit-content;
        margin-right: 1.906vw;
        text-align: center;
    }

    .header .nav li:last-child {
        margin-right: 0;

    }

    .header .nav a {
        color: #ffffff84;
    }

    .header .nav a:hover {
        transition: 1.2s;
        color: #ffffff;
    }

    .header .nav .active {
        color: #ffffff;

    }

    .header {
        position: fixed;
        padding-bottom: 6.51vw;
        width: 100%;
        top: 0;
        left: 0;

    }




}


/* sp */
@media screen and (max-width:767.9px) {

    /* Header */
    .header {
        padding: 3.375vw;
        background-color: transparent;
    }

    .header .d-flex {
        align-items: center;

    }

    .header .container {
        padding-bottom: 4.875vw;
        border-bottom: 0.313vw solid #ffffff;
    }

    .header .logo {
        width: 50vw;
    }

    /* .header .nav {
        display: none;
    }


    .header .nav a {
        color: #000000;
    } */

    .header {
        position: fixed;
        padding-bottom: 4.813vw;
        width: 100%;
        top: 0;
        left: 0;
    }

    .header .menu-icon {
        display: block;
    }

    .header .nav {
    position: absolute;
    top: -80vw;
    left: 0vw;
    width: 100%;
    padding: 10.206vw 0 3.41vw;
    background-color: #131313f8;
    transition: all 0.5s ease;
}

.header .nav.show {
    top: 0;
}

.header .nav li {
    width: 100%;
    padding: 4vw 0;
    margin-right: 0;
    margin-bottom: 5.008vw;
}

.header .menu-icon {
    width: 50px;
    height: 50px;
    background-color: transparent;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .menu-icon span {
    width: 20px;
    height: 4px;
    background-color: #FFFFFF;
    position: absolute;
    border-radius: 25px;
    transition: 0.5s;
}

.header .menu-icon span:nth-child(1) {
    transform: translateY(-10px);
    width: 25px;
    right: 15px;
}

.header .menu-icon span:nth-child(2) {
    transform: translateY(10px);
    width: 25px;
    right: 15px;
}

.header .menu-icon.active span:nth-child(3) {
    transform: translateX(60px);
    opacity: 0;

}

.header .menu-icon.active span:nth-child(1) {
    transform: translateY(0) rotate(45deg);
    width: 30px;
    transition: 0.45s;

}

.header .menu-icon.active span:nth-child(2) {
    transform: translateY(0) rotate(-45deg);
    width: 30px;
    transition: 0.75s;

}

}