@charset "utf-8";

* {
    box-sizing: border-box;

}

li {
    list-style: none;
}

@font-face {
    font-family: "Gayathri";
    font-weight: 100;
    src: url("../fonts/Gayathri-Thin.ttf");
}

@font-face {
    font-family: "Gayathri";
    font-weight: 400;
    src: url("../fonts/Gayathri-Regular.ttf");
}

@font-face {
    font-family: "Gayathri";
    font-weight: 700;
    src: url("../fonts/Gayathri-Bold.ttf");
}

body {
    background-color: #ffffff;
    font-size: 25px;
    font-family: "Gayathri", sans-serif;
    color: #000000;
    font-weight: 100;
}

.wrapper {
    margin: 0 auto;
    max-width: 1920px;

}

.container {
    width: 95%;
    margin: 0 auto;
    max-width: 1192px;

}


.pc {
    display: block;
}

.tbl {
    display: none;
}

.sp {
    display: none;
}

a {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}



img {
    vertical-align: bottom;
    max-width: 100%;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.d-none {
    display: none;
}


/* main Content */
.benner {
    padding: 292px 0 200px;
    background: url("../img/main_pc.png") no-repeat center/cover;
    text-align: center;
    width: 100%;
}

.benner .main-title {
    padding: 8px 0 18px;
    color: #FFFFFF;
    font-size: 50px;
    font-weight: 400;
}

.benner .main-content {
    line-height: 1.25;
    padding: 20px 0 18px;
    color: #FFFFFF;
    font-size: 25px;
    font-weight: 400;
}




/* more-new */

.more-new {

    justify-content: center;
}

.more-new .box {
    margin: 0 auto;
    width: 95%;
    background-color: #FFFFFF;
    color: #000000;
    border: 0;
    padding: 22px 48px;
    font-size: 18px;
    box-shadow: -1px 5px 17px 1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -1px 5px 17px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 5px 17px 1px rgba(0, 0, 0, 0.75);

}

.more-new .box .box-title {
    margin-bottom: 25px;
    font-size: 30px;
    font-weight: 700;
}

.more-new .box .colo-2 {
    width: 20%;
}

.more-new .box .col-5 {
    width: 70%;
    position: relative;
}

.more-new .box .col-5 .time-icon {
    position: relative;
    margin-left: 30px;
}

.more-new .box .col-5 .time-icon::before {
    position: absolute;
    top: 28%;
    left: -30px;
    width: 20px;
    height: 20px;
    background: url("../img/time-icon.png") no-repeat center/contain;
    content: "";
    transform: translateY(-50%);
}

.more-new .box .col-3 {
    width: 15%;
}

.more-new .box li:last-child {
    margin-right: 0px;
}

.more-new .col h3 {
    font-size: 20px;
    font-weight: 700;
}

.more-new .col-2 h3 {
    color: #4381F7;
}



.more-new .col .col-3 a {
    padding: 20px 16px 15px;
    background-color: #4381F7;
    border-radius: 10px;
    color: #FFFFFF;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
    justify-content: center;
    margin: 30px 0;

}

.more-new .col .col-3 a:hover {
    padding: 19px 16px 12px;
    border: 1px solid #4381F7;
    border-radius: 10px;
    color: #4381F7;
    background-color: #FFFFFF;

}

.more-new .col .box-content {
    padding: 20px 0;
}

.more-new .box {
    margin-top: -100px;
}

/* trending */

.trending {
    padding: 100px 0;
}

.trending .trending-title {
    font-size: 30px;
    font-weight: 700;

}


.trending .slider .card {
    width: 336px;
    border-radius: 5px;
    margin: 10px 37px;
    box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.68);
    -webkit-box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.68);
    -moz-box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.68);
}

.trending .slider .card img {
    width: 100%;
}

.trending .slider .card .card-content {
    padding: 25px;
}

.trending .slider .card .card-content h3 {
    font-size: 25px;
    font-weight: 700;
    color: #4381F7;
    padding: 10px 0 20px;
}

.trending .slider .card .card-content p {
    font-size: 18px;
    font-weight: 400;

}


.trending .slider .card .view-more {
    padding: 60px 0 5px;
    margin-left: 200px;
}

.happening h2 {
    font-size: 30px;
    font-weight: 700;
}

.happening .tab {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;

}

.happening .tab li {
    padding: 20px 0;
    margin-bottom: 20px;
}

.happening .tab a {
    margin: 0 38px;
    font-size: 23px;
    font-weight: 700;
    color: #000000;
    padding: 20px 0;
    transition: all 0.9s ease;



}

.happening .tab li a:hover {
    border-bottom: 2px solid #4381F7;

}



.happening .tab-gp {
    padding: 50px 0;
}

.happening .main-tab {
    width: 67%;

}

.happening .main-tab img {
    width: 100%;
}


.happening .main-tab .tab-blk {
    position: relative;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.happening .main-tab .tab-blk .content {
    position: absolute;
    bottom: 45px;
    left: 45px;
}

.happening .main-tab .tab-blk .content .text {
    padding: 20px 0 30px;
}



.happening .sencond-tab .sencond-tab-blk .content {
    padding: 25px 0;
}

.happening .sencond-tab .sencond-tab-blk .content h3 {
    padding-bottom: 14px;
    font-weight: 700;
}

/* discovery main Content */
.d-benner {
    padding: 292px 0 200px;
    background: url("../img/discovery_pc.png") no-repeat center/cover;
    text-align: center;
    width: 100%;
}

.d-benner .main-title {
    padding: 8px 0 18px;
    color: #FFFFFF;
    font-size: 50px;
    font-weight: 400;
}

.d-benner .main-content {
    line-height: 1.25;
    padding: 20px 0 18px;
    color: #FFFFFF;
    font-size: 25px;
    font-weight: 400;
}

.d-travelling {
    padding: 60px 0;
}

.d-travelling .col-4 {
    width: 40%;
}

.d-travelling .col-4 h1 {
    padding: 20px 0;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.3;
    margin-bottom: 50px;
}

.d-travelling .col-4 p {
    line-height: 1.2;
    font-weight: 700;
    text-align: justify;
    font-size: 19px;
}

.d-travelling .col-8 {
    width: 56%;
}


.d-travelling .col-8 .box {
    margin-bottom: 30px;
    padding-right: 30px;
}

.d-travelling .col-8 .john-miller {
    padding: 20px 0px;
    width: 32%;
    align-items: center;
}

.d-travelling .col-8 .john-miller img {
    margin-bottom: 10px;
}

.d-travelling .col-8 .john-miller h2 {
    color: #4381F7;
    font-weight: 700;
    font-size: 25px;
}

.d-travelling .col-8 p {
    line-height: 1.4;
    font-weight: 700;
    text-align: justify;
    font-size: 19px;
    padding: 20px 0px;
}

.d-travelling .col-8 .time-icon {
    position: relative;
    margin-left: 30px;
}

.d-travelling .col-8 .time-icon::before {
    position: absolute;
    top: 43%;
    left: -30px;
    width: 20px;
    height: 20px;
    background: url("../img/time-icon.png") no-repeat center/contain;
    content: "";
    transform: translateY(-50%);
}

/* News Header */
.news {
    color: #000000;
    position: relative;
}

.n-header {
    padding: 60px 0;
    background-color: #ffffff;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.75);
}

.n-header .d-flex {
    align-items: center;

}

.n-header .logo {
    width: 220px;
}

.n-header .nav li {
    width: fit-content;
    margin-right: 32px;
    text-align: center;

}

.n-header .nav li:last-child {
    margin-right: 0;

}


.n-header .nav a {
    color: #0000005f;
    font-weight: 700;
}

.n-header .nav a:hover {
    transition: 1.2s;
    color: #000000;
}

.n-header .nav .active {
    color: #000000;
}

.n-header {
    position: fixed;
    padding-bottom: 50px;
    width: 100%;
    top: 0;
    left: 0;


}

.n-header .menu-icon {
    display: none;
}




/* news Content */
.n-benner {
    margin-top: 157px;
}

.n-benner .main-img {
    padding: 249px 0px 233px;
    background: url("../img/news-main-pc.png") no-repeat center/cover;
    text-align: center;
    width: 55%;

}

.n-benner .main-img .main-title {
    padding: 8px 0 18px;
    color: #FFFFFF;
    font-size: 50px;
    font-weight: 400;
}

.n-benner .main-img .main-content {
    line-height: 1.25;
    padding: 20px 0 18px;
    color: #FFFFFF;
    font-size: 25px;
    font-weight: 400;
}

.n-benner .main-text {
    width: 45%;
    padding: 143px 0px 110px 40px;
}

.n-benner .main-text .main-title {
    color: #000000;
    font-weight: 700;
    font-size: 50px;
}

.n-benner .main-text h2 {
    font-size: 30px;
    font-weight: 700;
    color: #4381F7;
    padding: 40px 0 32px;
}

.n-benner .main-text .main-content {
    padding: 20px 0 18px;
    color: #000000;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.4;

}

.n-benner .main-text a {
    padding: 20px 16px 15px;
    background-color: #4381F7;
    border-radius: 10px;
    color: #FFFFFF;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
    justify-content: center;
    margin: 30px 0;

}

.n-benner .main-text a:hover {
    padding: 19px 16px 12px;
    border: 1px solid #4381F7;
    border-radius: 10px;
    color: #4381F7;
    background-color: #FFFFFF;

}

.john-miller {
    padding: 100px 0;
}

.john-miller .tag {
    text-align: center;
    justify-content: center;
    margin-bottom: 50px;
}

.john-miller .tag h2 {
    color: #4381F7;
    font-weight: 700;
    padding: 35px 0;
}


.john-miller .tag p {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
}

.john-miller .img p {
    font-weight: 400;
    font-size: 20px;
    padding: 50px 0;
    text-align: justify;
}

.discovery {
    padding: 20px 0;
}

.discovery .sec-tab {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 40px 0;
}

.discovery .sec-tab li {
    margin-right: 20px;

}

.discovery .sec-tab li a {
    padding: 30px 20px 20px;
    text-align: center;
    justify-content: center;
    color: #000000;


}

.discovery .sec-tab li a:hover {
    background-color: #4381F7;
    color: #FFFFFF;
}


.sec-tab-active,
.discovery .sec-tab li.sec-tab-active a {
    background-color: #4381F7;
    color: #FFFFFF;
}

.sec-tab-gp p {
    font-weight: 400;
    font-size: 20px;
    padding: 50px 0;
}

/* ipad */

@media screen and (min-width:768px) and (max-width:1200px) {

    body {
        font-size: 3.255vw;
    }

    .container {
        max-width: 250vw;
    }

    .tbl {
        display: block;
    }



    .pc {
        display: none;
    }

    /* main Content */
    .benner {
        padding: 38.021vw 0 26.042vw;
        background: url("../img/main_tbl.png") no-repeat center/cover;
        text-align: center;
        width: 100%;
    }

    .benner .main-title {
        padding: 1.042vw 0 2.344vw;
        color: #FFFFFF;
        font-size: 6.51vw;
        font-weight: 400;
    }

    .benner .main-content {
        line-height: 1.25;
        padding: 2.604vw 0 2.344vw;
        color: #FFFFFF;
        font-size: 3.255vw;
        font-weight: 400;
    }

    /* more-new */

    .more-new {

        justify-content: center;
    }

    .more-new .box {
        margin: 0 auto;
        width: 100%;
        background-color: #FFFFFF;
        color: #000000;
        border: 0;
        padding: 2.865vw 4.25vw;
        font-size: 2.344vw;
        box-shadow: -0.13vw 0.651vw 2.214vw 0.13vw rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: -0.13vw 0.651vw 2.214vw 0.13vw rgba(0, 0, 0, 0.75);
        -moz-box-shadow: -0.13vw 0.651vw 2.214vw 0.13vw rgba(0, 0, 0, 0.75);
    }

    .more-new .box .box-title {
        margin-bottom: 3.255vw;
        font-size: 3.906vw;
        font-weight: 700;
    }

    .more-new .box .colo-2 {
        width: 25%;
    }

    .more-new .box .col-5 {
        width: 60%;
    }

    .more-new .box .col-3 {
        width: 25%;
    }

    .more-new .box li:last-child {
        margin-right: 0vw;
    }

    .more-new .col h3 {
        font-size: 2.604vw;
        font-weight: 700;
    }

    .more-new .col-2 h3 {
        color: #4381F7;
    }

    .more-new .col .col-3 a {
        padding: 3.125vw 2.5vw 2.344vw;
        background-color: #4381F7;
        border-radius: 1.563vw;
        color: #FFFFFF;
        align-items: center;
        font-weight: 700;
        font-size: 3.125vw;
        justify-content: center;
        margin: 4.688vw 0;

    }

    .more-new .col .col-3 a:hover {
        padding: 2.969vw 2.5vw 1.875vw;
        border: 0.156vw solid #4381F7;
        border-radius: 1.563vw;
        color: #4381F7;
        background-color: #FFFFFF;

    }

    .more-new .col .box-content {
        padding: 2.604vw 0;
    }

    .more-new .box {
        margin-top: -13.021vw;
    }

    .trending {
        padding: 15.625vw 0;
    }

    .trending .trending-title {
        font-size: 4.688vw;
        font-weight: 700;

    }


    .trending .slider .card {
        width: 42.5vw;
        border-radius: 0.781vw;
        margin: 4vw 3.991vw;
        box-shadow: 0vw 0.625vw 1.719vw 0vw rgba(0, 0, 0, 0.68);
        -webkit-box-shadow: 0vw 0.625vw 1.719vw 0vw rgba(0, 0, 0, 0.68);
        -moz-box-shadow: 0vw 0.625vw 1.719vw 0vw rgba(0, 0, 0, 0.68);
    }

    .trending .slider .card img {
        width: 100%;
    }

    .trending .slider .card .card-content {
        padding: 1.906vw;
    }

    .trending .slider .card .card-content h3 {
        font-size: 3.906vw;
        font-weight: 700;
        color: #4381F7;
        padding: 1.563vw 0 2.125vw;
    }

    .trending .slider .card .card-content p {
        font-size: 2.613vw;
        font-weight: 400;

    }


    .trending .slider .card .view-more {
        padding: 9.375vw 0 0.781vw;
        margin-left: 21.25vw;
    }

    .happening .tab-gp .main-tab,
    .happening .tab-gp .sencond-tab {
        width: 100%;
    }

    .happening .tab-gp .main-tab .tab-blk,
    .happening .tab-gp .sencond-tab .sencond-tab-blk {
        position: relative;
        color: #FFFFFF;
        margin-bottom: 4.688vw;
    }

    .happening .tab-gp .main-tab .tab-blk img,
    .happening .tab-gp .sencond-tab .sencond-tab-blk img {
        width: 100%;
    }

    .happening .content {
        position: absolute;
        bottom: 7.031vw;
        left: 7.031vw;
    }

    .happening .content p {
        font-size: 2.344vw;
    }


    /* Discovery Content */
    .d-benner {
        padding: 38.021vw 0 21.042vw;
        background: url("../img/discovery-tbl.png") no-repeat center/cover;
        text-align: center;
        width: 100%;
    }

    .d-benner .main-title {
        padding: 1.042vw 0 2.344vw;
        color: #FFFFFF;
        font-size: 6.51vw;
        font-weight: 400;
    }

    .d-benner .main-content {
        line-height: 1.25;
        padding: 2.604vw 0 1.214vw;
        color: #FFFFFF;
        font-size: 3.255vw;
        font-weight: 400;
    }


    .d-travelling {
        padding: 7.813vw 0;
    }

    .d-travelling .col-4 {
        width: 100%;
    }

    .d-travelling .col-4 h1 {
        padding: 2.604vw 0;
        font-weight: 700;
        font-size: 4.167vw;
        line-height: 1.3;
        margin-bottom: 6.51vw;
    }

    .d-travelling .col-4 p {
        line-height: 1.2;
        font-weight: 700;

        font-size: 2.474vw;
    }

    .d-travelling .col-8 {
        width: 100%;
    }


    .d-travelling .col-8 .box {
        margin-bottom: 3.906vw;
        padding-right: 3.906vw;
    }

    .d-travelling .col-8 .john-miller {
        padding: 2.604vw 0vw;
        width: 32%;
        align-items: center;
    }

    .d-travelling .col-8 .john-miller img {
        margin-bottom: 1.302vw;
    }

    .d-travelling .col-8 .john-miller h2 {
        color: #4381F7;
        font-weight: 700;
        font-size: 3.255vw;
    }

    .d-travelling .col-8 p {
        line-height: 1.4;
        font-weight: 700;
        text-align: justify;
        font-size: 2.474vw;
        padding: 2.604vw 0vw;
    }

    .d-travelling .col-8 .time-icon {
        position: relative;
        margin-left: 3.906vw;
    }

    .d-travelling .col-8 .time-icon::before {
        position: absolute;
        top: 43%;
        left: -3.906vw;
        width: 2.604vw;
        height: 2.604vw;
        background: url("../img/time-icon.png") no-repeat center/contain;
        content: "";
        transform: translateY(-50%);
    }

    .d-travelling .col-8 .video iframe {
        width: 100%;
    }


    /* New Header */
    .n-header {
        padding: 4.813vw 0;
        background-color: #ffffff;
    }

    .n-header .d-flex {
        align-items: center;

    }


    .n-header .logo {
        width: 28.646vw;
    }

    .n-header .nav li {
        width: fit-content;
        margin-right: 1.906vw;
        text-align: center;
    }

    .n-header .nav li:last-child {
        margin-right: 0;

    }

    .n-header .nav a {
        color: #0000005f;
        font-weight: 700;
    }

    .n-header .nav a:hover {
        transition: 1.2s;
        color: #000000;
    }

    .n-header .nav .active {
        color: #000000;
    }

    .n-header {
        position: fixed;
        padding-bottom: 6.51vw;
        width: 100%;
        top: 0;
        left: 0;
    }

    /* new Content */
    .n-benner {
        margin-top: 17.443vw;
    }

    .n-benner .main-img {
        padding: 30.859vw 0vw 30.339vw;
        background: url("../img/news-main-tbl.png") no-repeat center/cover;
        text-align: center;
        width: 100%;

    }

    .n-benner .main-img .main-title {
        padding: 1.042vw 0 2.344vw;
        color: #FFFFFF;
        font-size: 6.51vw;
        font-weight: 400;
    }

    .n-benner .main-img .main-content {
        line-height: 1.25;
        padding: 2.604vw 0 2.344vw;
        color: #FFFFFF;
        font-size: 3.255vw;
        font-weight: 400;
    }

    .n-benner .main-text {
        width: 100%;
        padding: 12.365vw 1.302vw;
    }

    .n-benner .main-text .main-title {
        color: #000000;
        font-weight: 700;
        font-size: 6.51vw;
    }

    .n-benner .main-text h2 {
        font-size: 3.906vw;
        font-weight: 700;
        color: #4381F7;
        padding: 5.208vw 0 4.167vw;
    }

    .n-benner .main-text .main-content {
        line-height: 1.25;
        padding: 2.604vw 0 2.344vw;
        color: #000000;
        font-size: 2.344vw;
        font-weight: 100;
    }


    .john-miller {
        padding: 1.021vw 0;
    }

    .john-miller .container {
        width: 100%;
    }

    .john-miller .img img {
        width: 100%;
        height: 100%;
    }

    .john-miller .tag {
        padding: 0 1.115vw;
    }

    .john-miller .tag p {
        font-weight: 700;
        font-size: 2.104vw;
        line-height: 1.2;
        letter-spacing: 0.2px;

    }

    .discovery {
        padding: 3.125vw 0;
    }

    .discovery .sec-tab {
        display: flex;
        justify-content: start;
        align-items: center;
        padding: 6.25vw 0;
    }

    .discovery .sec-tab li {
        margin-right: 3.125vw;

    }

    .discovery .sec-tab li a {
        padding: 3.688vw 3.125vw 2.125vw;
        text-align: center;
        justify-content: center;
        color: #000000;


    }

    .discovery .sec-tab li a:hover {
        background-color: #4381F7;
        color: #FFFFFF;
    }


    .sec-tab-active,
    .discovery .sec-tab li.sec-tab-active a {
        background-color: #4381F7;
        color: #FFFFFF;
    }

    .sec-tab-gp p {
        font-weight: 400;
        font-size: 3.125vw;
        padding: 7.813vw 0;
        text-align: justify;
    }

}

/* sp */
@media screen and (max-width:767.9px) {
    body {
        font-size: 3.906vw;
    }

    .container {
        width: 90%;
        max-width: 186.25vw;
    }

    .pc {
        display: none;
    }

    .tbl {
        display: none;
    }

    .sp {
        display: block;
    }

    /* main Content */
    .benner {
        padding: 45.625vw 0 31.25vw;
        background: url("../img/main_sp.png") no-repeat center/cover;
        text-align: center;
        width: 100%;
    }

    .benner .main-title {
        padding: 1.25vw 0 2.813vw;
        color: #FFFFFF;
        font-size: 7.813vw;
        font-weight: 400;
    }

    .benner .main-content {
        line-height: 1.25;
        padding: 3.125vw 0 2.813vw;
        color: #FFFFFF;
        font-size: 2.906vw;
        font-weight: 700;
        width: 100%;
    }

    /* more-new */

    .more-new {

        justify-content: center;
    }

    .more-new .box {
        margin: 0 auto;
        width: 100%;
        background-color: #FFFFFF;
        color: #000000;
        border: 0;
        padding: 3.438vw;
        font-size: 2.813vw;
        box-shadow: -0.156vw 0.781vw 2.656vw 0.156vw rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: -0.156vw 0.781vw 2.656vw 0.156vw rgba(0, 0, 0, 0.75);
        -moz-box-shadow: -0.156vw 0.781vw 2.656vw 0.156vw rgba(0, 0, 0, 0.75);
    }

    .more-new .box .box-title {
        margin-bottom: 3.906vw;
        font-size: 4.688vw;
        font-weight: 700;
    }

    .more-new .box .colo-2 {
        width: 7%;
    }

    .more-new .box .col-5 {
        width: 58%;
    }

    .more-new .box .col-3 {
        width: 27%;
    }

    .more-new .box .col-3 a {
        font-size: 1.344vw;
        font-weight: 100;
    }

    .more-new .box li:last-child {
        margin-right: 0vw;
    }

    .more-new .col h3 {
        font-size: 3.125vw;
        font-weight: 700;
    }

    .more-new .col-2 h3 {
        color: #4381F7;
    }

    .more-new .col .col-3 a {
        padding: 3.125vw 2.5vw 2.344vw;
        background-color: #4381F7;
        border-radius: 1.563vw;
        color: #FFFFFF;
        align-items: center;
        font-weight: 700;
        font-size: 3.125vw;
        justify-content: center;
        margin: 4.688vw 0;

    }

    .more-new .col .col-3 a:hover {
        padding: 2.969vw 2.5vw 1.875vw;
        border: 0.156vw solid #4381F7;
        border-radius: 1.563vw;
        color: #4381F7;
        background-color: #FFFFFF;

    }

    .more-new .col .box-content {
        padding: 3.125vw 0;
    }

    .more-new .box {
        margin-top: -15.625vw;
    }

    .trending .slider .card {
        width: 87.5vw;
        border-radius: 0.781vw;
        margin: 1.563vw 4.3vw;
        box-shadow: 0vw 0.625vw 1.719vw 0vw rgba(0, 0, 0, 0.68);
        -webkit-box-shadow: 0vw 0.625vw 1.719vw 0vw rgba(0, 0, 0, 0.68);
        -moz-box-shadow: 0vw 0.625vw 1.719vw 0vw rgba(0, 0, 0, 0.68);
    }

    .trending .slider .card img {
        width: 100%;
    }

    .trending .slider .card .card-content {
        padding: 3.906vw;
    }

    .trending .slider .card .card-content h3 {
        font-size: 3.906vw;
        font-weight: 700;
        color: #4381F7;
        padding: 1.563vw 0 3.125vw;
    }

    .trending .slider .card .card-content p {
        font-size: 2.813vw;
        font-weight: 400;

    }


    .trending .slider .card .view-more {
        padding: 9.375vw 0 0.781vw;
        margin-left: 31.25vw;
    }

    .happening h2 {
        font-size: 4.688vw;
        font-weight: 700;
    }

    .happening .tab {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 6.25vw 0;

    }

    .happening .tab li {
        padding: 3.125vw 0;
        margin-bottom: 3.125vw;
    }

    .happening .tab a {
        margin: 0 5.938vw;
        font-size: 3.594vw;
        font-weight: 700;
        color: #000000;
        padding: 3.125vw 0;



    }

    .happening .tab a:hover {
        border-bottom: 0.313vw solid #4381F7;
        transition: all 0.9s ease;
    }

    .happening .tab-gp .main-tab,
    .happening .tab-gp .sencond-tab {
        width: 100%;
    }

    .happening .tab-gp .main-tab .tab-blk,
    .happening .tab-gp .sencond-tab .sencond-tab-blk {
        position: relative;
        color: #FFFFFF;
        margin-bottom: 4.688vw;
    }

    .happening .tab-gp .main-tab .tab-blk img,
    .happening .tab-gp .sencond-tab .sencond-tab-blk img {
        width: 100%;
    }

    .happening .content p {
        font-size: 2.344vw;
    }

    .happening .tab-blk .content {
        bottom: 2.031vw;
        left: 2.031vw;
    }

    .happening .sencond-tab-blk .content {
        position: absolute;
        bottom: 2.031vw;
        left: 2.031vw;
    }

    /* discovery Content */
    .d-benner {
        padding: 45.625vw 0 23.25vw;
        background: url("../img/discovery-sp.png") no-repeat center/cover;
        text-align: center;
        width: 100%;
    }

    .d-benner .main-title {
        padding: 1.25vw 0 2.813vw;
        color: #FFFFFF;
        font-size: 7.813vw;
        font-weight: 400;
    }

    .d-benner .main-content {
        line-height: 1.25;
        padding: 3.125vw 0 1.813vw;
        color: #FFFFFF;
        font-size: 2.906vw;
        font-weight: 400;
        width: 100%;
    }


    .d-travelling {
        padding: 9.375vw 0;
    }

    .d-travelling .col-4 {
        width: 100%;
    }

    .d-travelling .col-4 h1 {
        padding: 3.125vw 0;
        font-weight: 700;
        font-size: 5vw;
        line-height: 1.3;
        margin-bottom: 7.813vw;
    }

    .d-travelling .col-4 p {
        line-height: 1.2;
        font-weight: 700;
        text-align: justify;
        font-size: 2.969vw;
    }

    .d-travelling .col-8 {
        width: 100%;
    }


    .d-travelling .col-8 .box {
        margin-bottom: 4.688vw;
        padding-right: 4.688vw;
    }

    .d-travelling .col-8 .john-miller {
        padding: 3.125vw 0;
        width: 50%;
        align-items: center;
    }

    .d-travelling .col-8 .john-miller img {
        margin-bottom: 2.063vw;
        width: 6.676vw;
    }

    .d-travelling .col-8 .john-miller h2 {
        color: #4381F7;
        font-weight: 700;
        font-size: 18px;
    }

    .d-travelling .col-8 p {
        line-height: 1.4;
        font-weight: 700;
        text-align: justify;
        font-size: 2.969vw;
        padding: 3.125vw 0;
    }

    .d-travelling .col-8 .time-icon {
        position: relative;
        margin-left: 4.688vw;
    }

    .d-travelling .col-8 .time-icon::before {
        position: absolute;
        top: 43%;
        left: -4.688vw;
        width: 3.125vw;
        height: 3.125vw;
        background: url("../img/time-icon.png") no-repeat center/contain;
        content: "";
        transform: translateY(-50%);
    }

    .d-travelling .col-8 .video iframe {
        width: 100%;
        height: 100%;
    }


    /*News Header */
    .n-header {
        padding: 3.375vw 0;
        background-color: #FFFFFF;
    }

    .n-header .d-flex {
        align-items: center;

    }


    .n-header .logo {
        width: 50vw;
    }

    .n-header .nav {
        position: absolute;
        top: -80vw;
        left: 0vw;
        width: 100%;
        padding: 10.206vw 0 3.41vw;
        background-color: #fffffff6;
        transition: all 0.5s ease;
    }

    .n-header .nav a {
        color: #000000d0;
        font-weight: 700;
    }

    .n-header .nav a:hover {
        transition: 1.2s;
        color: #000000;
    }

    .n-header .nav .active {
        color: #000000;
    }

    .n-header {
        position: fixed;
        padding-bottom: 4.813vw;
        width: 100%;
        top: 0;
        left: 0;

    }

    .n-header .menu-icon {
        display: block;
    }

    .n-header .nav.show {
        top: 0;
    }

    .n-header .nav li {
        width: 100%;
        padding: 4vw 4.688vw;
        margin-right: 0;
        margin-bottom: 5.008vw;
        /* border-bottom: 0.266vw solid #D7D7D7; */
    }

    .n-header .menu-icon {
        width: 7.813vw;
        height: 7.813vw;
        background-color: transparent;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: -2.031vw;
    }

    .n-header .menu-icon span {
        width: 3.125vw;
        height: 0.453vw;
        background-color: #000000;
        position: absolute;
        border-radius: 3.906vw;
        transition: 0.5s;
    }

    .n-header .menu-icon span:nth-child(1) {
        transform: translateY(-1.563vw);
        width: 3.906vw;
        right: 2.344vw;
    }

    .n-header .menu-icon span:nth-child(2) {
        transform: translateY(1.563vw);
        width: 3.906vw;
        right: 2.344vw;
    }

    .n-header .menu-icon.active span:nth-child(3) {
        transform: translateX(9.375vw);
        opacity: 0;

    }

    .n-header .menu-icon.active span:nth-child(1) {
        transform: translateY(0) rotate(45deg);
        width: 4.688vw;
        transition: 0.45s;

    }

    .n-header .menu-icon.active span:nth-child(2) {
        transform: translateY(0) rotate(-45deg);
        width: 4.688vw;
        transition: 0.75s;

    }

    /* news Content */
    .n-benner {
        margin-top: 24.531vw;
    }

    .n-benner .main-img {
        padding: 37.031vw 0vw 36.406vw;
        background: url("../img/news-main-sp.png") no-repeat center/cover;
        text-align: center;
        width: 100%;

    }

    .n-benner .main-img .main-title {
        padding: 1.25vw 0 2.813vw;
        color: #FFFFFF;
        font-size: 7.813vw;
        font-weight: 400;
    }

    .n-benner .main-img .main-content {
        line-height: 1.25;
        padding: 3.125vw 0 2.813vw;
        color: #FFFFFF;
        font-size: 3.906vw;
        font-weight: 400;
    }

    .n-benner .main-text {
        width: 100%;
        padding: 18.438vw 1.563vw;
    }

    .n-benner .main-text .main-title {
        color: #000000;
        font-weight: 700;
        font-size: 7.813vw;
    }

    .n-benner .main-text h2 {
        font-size: 4.688vw;
        font-weight: 700;
        color: #4381F7;
        padding: 6.25vw 0 5vw;
    }

    .n-benner .main-text .main-content {
        line-height: 1.25;
        padding: 3.125vw 0 2.813vw;
        color: #000000;
        font-size: 2.813vw;
        font-weight: 100;
    }

    .sec-tab-gp p {
        font-weight: 400;
        font-size: 3.125vw;
        padding: 7.813vw 0;
        text-align: justify;
    }
}